---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import BusDeparture from '../components/BusDeparture.astro';
import WeatherCard from '../components/WeatherCard.astro';
import WindCard from '../components/WindCard.astro';
import UvCard from '../components/UvCard.astro';
import SunTimeCard from '../components/SunTimeCard.astro';


// Mock Data (Replace with API calls later)
const departures = [{"line_name":"1","last_stop_name":"Slovany","leaving_in_min":1},{"line_name":"58","last_stop_name":"Nádraží Bílá Hora","leaving_in_min":1},{"line_name":"1","last_stop_name":"Slovany","leaving_in_min":6},{"line_name":"24","last_stop_name":"Bory","leaving_in_min":6},{"line_name":"34","last_stop_name":"Okounová","leaving_in_min":9}];
const weatherData = {
        location: 'Plzeň, Česká republika',
        date: 'Středa 12. 3. 2025',
        temperature: '14°C',
        condition: 'Mírně zataženo',
        humidity: '84%',
        dewPoint: '27°',
        feelsLike: '42°',
        windSpeed: '7.50',
        UVindex: '5.50',
        sunriseTime: '6:32',
        sunsetTime: '17:42',
}

---

<Layout title="DoorHub">
  <main class="dashboard">
		<div class="first">
    		<h1 style="margin-bottom: 0px;">Západočeská univerzita</h1>
    		<h2 style="color: #A7A7A7; font-weight: 400; margin-bottom: 5vw; margin-top: 1vw;">{weatherData.location}</h2>
			<div class="main-info">
				<img src="src/assets/sun-rain.png" class="weather-icon">
				<div class="temp-and-icon">
					<span class="temperature">{weatherData.temperature}</span>
					<span class="condition">{weatherData.condition}</span>
				</div>
			</div>
		</div>
		<div class="vl">
		</div>
		<div class="departure">
        	<h1 style="margin-bottom: 0px;">{weatherData.date}</h1>
        	<h2 style="color: #A7A7A7; font-weight: 400; margin-bottom: 2.5vw; margin-top: 1vw;">Nejbližší odjezdy ze zastávky <b style="color: white;">Univerzita</h2>
			<section class="bus-departures">
				{departures.map((departure) => (
				  <BusDeparture line_name={departure.line_name} last_stop_name={departure.last_stop_name} leaving_in_min={departure.leaving_in_min} />
				))}
			</section>
		</div>
		<div class="third">
			<WeatherCard weatherData={weatherData}/>
		</div>
		<div class="fourth">
			<h1 style="margin-bottom: 1vw; margin-top: 0.5vw;">Dnešní předpověď</h1>
			<section class="weather-section">
				<div class="lower-cards">
					<WindCard weatherData={weatherData}/>
					<UvCard weatherData={weatherData}/>
					<SunTimeCard weatherData={weatherData}/>
				</div>
			</section>
		</div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 2vw;
  }
  h2 {
    font-size: 1.5vw;
  }
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 0.01fr 2fr; /* Initially, one column */
	  column-gap: 5vw;
    row-gap: 0.5vw; /* Spacing between elements */
    width: 92%;        /* Take up most of the viewport width */
	overflow: hidden;
  }
  .vl {
  border: 0.2vw solid #1b1a1d;
  border-radius: 5px;;
  height: 130%;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}
  .temp-and-icon{
        display: block;
        align-items: center;
        gap: 0.5vw;
    }
    .condition{
        font-size: 1.5vw;
        margin: 0;
		color: #A7A7A7;
		margin-left: 6vw;
    }
    .temperature{
        font-size: 5vw;
		font-weight: 600;
		margin: 0;
    }
	.weather-icon{
		max-width: 10vw;
	}
    .lower-cards{
        display: flex;
        gap: 1vw;
        justify-content: space-between;
        width: 100%;
    }
    .dashboard-header{
        display: flex;
        flex-direction: column;
    }

  .bus-departures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Responsive columns */
    gap: 1vw;
  }

  .weather-section {
      display: flex;
      flex-direction: column;
      gap: 1vw;
  }

</style>
