---
// importing astro files, components and images
import Layout from '../layouts/Layout.astro';
import BusDeparture from '../components/BusDeparture.astro';
import WeatherCard from '../components/WeatherCard.astro';
import WindCard from '../components/WindCard.astro';
import UvCard from '../components/UvCard.astro';
import SunTimeCard from '../components/SunTimeCard.astro';
import {Image} from 'astro:assets';
import WeatherIcon from '../assets/02d.png';
import { color } from 'chart.js/helpers';

// Mock Data (Replace with API calls later)
const departures = [{"line_name":"1","last_stop_name":"Slovany","leaving_in_min":1},{"line_name":"58","last_stop_name":"Nádraží Bílá Hora","leaving_in_min":1},{"line_name":"1","last_stop_name":"Slovany","leaving_in_min":6},{"line_name":"24","last_stop_name":"Bory","leaving_in_min":6},{"line_name":"34","last_stop_name":"Okounová","leaving_in_min":9}];
const generalInfo = {
  adress: 'Západočeská univerzita',
  city: 'Plzeň, Česká republika',
  date: 'Středa 12. 3. 2025',
  stopName: 'Univerzita',
}
const openWeatherData = {
  condition: 'Mírně zataženo',
  feelsLike: '42°C',
  windSpeed: '7.50',
  windData: [40, 25, 35, 50, 75, 90, 80, 100, 120, 135, 125, 110, 90, 80, 60],
  UVindex: '7',
}
const CHMIdata = {
  color: 'red',
  text: 'Silné bouřky',
  detailed_text: 'Očekává se ojedinělý výskyt silných bouřek s úhrny ojediněle nad 40 mm a kroupami.',
}
const senzorData = {
  temperature: '14°C',
  humidity: '84',
}
const weatherData = {
        sunriseTime: '6:32',
        sunsetTime: '17:42',
}

---

<Layout title="DoorHub">
  <main class="dashboard">

		<div>
      <h1>{generalInfo.adress}</h1>
      <h2 style="margin-bottom: 5vw;">{generalInfo.city}</h2>
      <Image src= {WeatherIcon} class="weather-icon" alt="weather icon"></Image>
      <div>
        <span class="temperature">{senzorData.temperature}</span>
        <span class="condition">{openWeatherData.condition}</span>
      </div>
		</div>

		<div class="vl"></div>
    
		<div>
      <h1>{generalInfo.date}</h1>
      <div class="settings">
        <a href="/goglance/settings" class="settings-link" aria-label="Settings">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" class="settings-icon">
            <title>Settings</title>
            <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.38a2 2 0 0 0-.73-2.73l-.15-.1a2 2 0 0 1-1-1.72v-.51a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </a>
      </div>
      <h2 style="margin-bottom: 2.5vw;">Nejbližší odjezdy ze zastávky <b style="color: white;">{generalInfo.stopName}</h2>
			<section class="bus-departures">
				{departures.map((departure) => (<BusDeparture line_name={departure.line_name} last_stop_name={departure.last_stop_name} leaving_in_min={departure.leaving_in_min}/>))}
			</section>
		</div>

		<div>
			<WeatherCard openWeatherData={openWeatherData} CHMIdata={CHMIdata}/>
		</div>

		<div>
			<h1 style="margin-bottom: 1vw; margin-top: 0.5vw;">Dnešní předpověď</h1>
			<section>
				<div class="lower-cards">
					<WindCard openWeatherData={openWeatherData}/>
					<UvCard openWeatherData={openWeatherData} senzorData={senzorData}/>
					<SunTimeCard weatherData={weatherData}/>
				</div>
			</section>
		</div>

  </main>
</Layout>

<style>
  /* General styling */
  h1 {
    font-size: 2vw;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 1.5vw;
    margin-top: 0;
    color: #A7A7A7; font-weight: 400;
    margin-bottom: 0px;
  }

  /* Dashboard styling */
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 0.001fr 2fr;
	  column-gap: 4vw;
    grid-column-gap: 4vw;
    row-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    width: 92%;
	  overflow: hidden;
  }

  /* Main info styling */
  .weather-icon{
		max-width: 10vw;
    height: auto;
	}
  .condition{
    font-size: 1.5vw;
    margin: 0;
		color: #A7A7A7;
		margin-left: 4vw;
  }
  .temperature{
    font-size: 5vw;
		font-weight: 600;
		margin: 0;
  }

  /* Separator styling */
  .vl {
    border: 0.2vw solid #1b1a1d;
    border-radius: 5vw;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
  }

  /* Styles for the settings icon container */
  .settings {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    background-color: #1b1a1d;
    padding: 0.8vw;
    border-radius: 0.7vw;
  }
  .settings-link {
     display: block;
     transition: transform 0.2s ease;
  }
  .settings-link:hover {
      transform: scale(1.1);
  }

  /* Styles for the SVG icon */
  .settings-icon {
      width: 1.5vw;
      height: 1.5vw;
      stroke: white;
      display: block;
  }

  /* Bus card style */
  .bus-departures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Responsive columns */
    gap: 1vw;
  }

  /* Weather details style */
  .temp-and-icon{
    display: block;
    align-items: center;
    gap: 0.5vw;
  }
  .lower-cards{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
  }
  
</style>
