---
// importing props
interface Props {
  line_name: string;
  last_stop_name: string;
  leaving_in_min: string;
}

const { line_name, last_stop_name, leaving_in_min } = Astro.props;

// cards and text colors

function getNmbColor(line_name: string) {
    const num = parseInt(line_name, 10);

    if (num >= 1 && num <= 8) {
      return '#101014';
    } else {
      return 'white';
    }
  }
const nmbColor = getNmbColor(line_name);

function getLineColor(line_name: string) {
    const num = parseInt(line_name, 10);

    if (num >= 1 && num <= 8) {
      return 'rgb(240 190 50)';
    } else if (num >= 9 && num <= 19) {
      return 'rgb(30 150 65)';
    } else if (num >= 20) {
      return 'rgb(205 40 55)';
    } else {
      return 'gray';
    }
  }
const lineColor = getLineColor(line_name);
---

<script>
  // adjusting text size on text lenght
  
  const elements = document.querySelectorAll(`.destination`);
  elements.forEach(element => {
    const textLength = element.textContent.trim().length;
    let fontSize;
    let lineHeight;

    if (textLength <= 8) {
      fontSize = '1.25vw';
      lineHeight = '1.25vw';
    } else if (textLength <= 20) {
      fontSize = '1vw';
      lineHeight = '1vw';
    } else if (textLength <= 25) {
      fontSize = '0.9vw';
      lineHeight = '0.9vw';
    } else {
      fontSize = '0.8vw';
      lineHeight = '0.8vw';
    }
    element.style.fontSize = fontSize;
    element.style.lineHeight = lineHeight;
  });

</script>

<div class="bus-card">
  <div class="info">
    <span class="line" style={`background-color: ${lineColor};`}><p class="nmb" style={`color: ${nmbColor};`}>{line_name}</p></span>
    <p class="destination">{last_stop_name}</p>
    <p class="time">{leaving_in_min} min</p>
  </div>
</div>

<style>
  .bus-card {
    background-color: #1b1a1d;
    border-radius: 1vw;
    margin: 0.4vw;
    display: flex;
    justify-content: center;
  }
  .line {
    font-size: 1.5vw;
    border-radius: 0.4vw;
    aspect-ratio: 2 / 1;
    width: 6vw;
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0% 100%);
  }
  .nmb{
    line-height: 0;
    transform: translate(-25%, -50%);
  }
  .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 3vw;
      margin-bottom: 2.6vw;
  }
  .destination{
      margin: 0.5vw 0 1vw 0;
      max-width: 6vw;
  }
  .time {
    font-size: 2vw;
    margin-bottom: 0;
    margin-top: 0;
  }
</style>