---
interface Props{
    openWeatherData: any
    CHMIdata: any
}
const {openWeatherData} = Astro.props
const {CHMIdata} = Astro.props

function getWarningcolor(colorname: string) {
    const CHMIcolor = colorname;

    if (CHMIcolor === "red") {
        return 'rgb(205 40 55)';
    } else if (CHMIcolor === "yellow") {
        return 'rgb(240 190 50)';
    } else {
        return 'rgb(30 150 65)';
    }
  }
const color = getWarningcolor(CHMIdata.color);

function getTextColor(colorname: string) {
    const CHMIcolor = colorname;

    if (CHMIcolor === "yellow") {
      return '#101014';
    } else {
      return 'white';
    }
  }
const nmbColor = getTextColor(CHMIdata.color);
---

<hr style="border: 0.15vw solid #1b1a1d; border-radius: 5px;">
<div class="weather-card">
    <div class="extra-info">
        <span style="color: #A7A7A7;">Pocitová teplota - </span>
        <span><b>{openWeatherData.feelsLike} </b></span>
        <p style="color: #A7A7A7; margin: 1vw 0vw 0.5vw;">Výstrahy</p>
        <div class="vystrahy" style={`background-color: ${color}; color: ${nmbColor};`}><p><b>{CHMIdata.text}</b><br>{CHMIdata.detailed_text}</p></div>
    </div>
</div>

<style>
    .weather-card{
        background-color: #1b1a1d;
        padding: 1vw 2vw 2vw 2vw;
        margin-top: 3.9vw;
        border-radius: 1.5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3vw;
    }
    .vystrahy{
        background-color: {`background-color: ${colorname};`};
        padding: 0.2vw 2vw 0.2vw 2vw;
        border-radius: 1vw;
        font-size: 1vw;
    }
</style>